@model List<RelativeFormulas.Domain.Entities.Recipe>
@{
    ViewData["Title"] = "Recipes";
}

@if (!Model.Any())
{
    <p>No recipes yet.</p>
}
else
{
    <div class="recipe-grid">
        @foreach (var recipe in Model)
        {
            @await Html.PartialAsync("_RecipeCard", recipe)
        }
    </div>
}
