@model List<RelativeFormulas.Domain.Entities.Recipe>
@{
    ViewData["Title"] = "My Favorites";
}

<header>
    <h1>My Favorites</h1>
</header>

@if (!Model.Any())
{
    <p class="empty-state">You haven't saved any recipes yet. <a asp-controller="Recipes" asp-action="Index">Browse recipes</a></p>
}
else
{
    @await Html.PartialAsync("~/Views/Recipes/_RecipeList.cshtml", Model)
}
