@model IEnumerable<RelativeFormulas.Domain.Entities.RecipeTag>

<div class="tag-list">
    @foreach (var rt in Model)
    {
        <a href="/tags/@rt.Tag.Slug" class="tag">@rt.Tag.Name</a>
    }
</div>
